<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'reviews' %}">Reviews</a></li>
        <li><a href="{% url 'add_reviews' %}">Add reviews</a></li>
        <li><a class="active" href="{% url 'about' %}">About</a></li>
    </ul>
    </nav>

    <h3>About us</h3>
    <p>Hi, we have created a blog where you can comment on the most famous movies ever!
        We will be expanding our movie base over time! It's our uni project and we hope you'll like it!
    Zuzanna, Julia & Kryspin</p>

    <img src="../static/css/3F39A461-72B9-47C1-A753-FE2DBD8673F6_1_105_c.jpeg" alt="Zuza and Julia" width="450" height="333">
    <img src="../static/css/86C5043F-82C3-429B-8974-D555C9EC258D_1_105_c.jpeg" alt="Julia and Kryspin" width="320" height="333">

</body>
</html>