<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'reviews' %}">Reviews</a></li>
        <li><a class="active" href="{% url 'add_reviews' %}">Add reviews</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    </nav>

    <h3>Add movie reviews</h3>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Zapisz">
            </form>
        </div>

</body>
</html>