<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
    <ul>
        <li><a class="active" href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'reviews' %}">Reviews</a></li>
        <li><a href="{% url 'add_reviews' %}">Add reviews</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    </nav>

    <h3>Home page</h3>
    <img src="../static/css/26102.jpg" alt="Movie" width="500" height="333">


    </body>
    </html>