<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<style>
.all_reviews {
  background-color: #20B2AA;
  border: 2px solid black;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  width: 50%;
}
</style>
<body>
    <nav>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a class="active" href="{% url 'reviews' %}">Reviews</a></li>
        <li><a href="{% url 'add_reviews' %}">Add reviews</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    </nav>

    <h3>Movie reviews</h3>
    <div>
        {% if reviews %}
            {% for r in reviews %}
                <div class = "all_reviews">
                    <span> Movie: <b> {{ r.movie}}</b></span>
                    <span> Author: <b> {{ r.author}}</b></span>
                    <span> Date: <b> {{ r.date}}</b></span>
                    <p> Content: <b> {{ r.content}}</b></p>
                </div>
        {% endfor %}
        {% else %}
            <p>Brak Opini</p>
        {% endif %}
    </div>

</body>
</html>